<header class="bar bar-header bar-stable">
	<h1 class="title">Encryption</h1>
</header>
<ion-view title="Playlists">
	<ion-content class="has-header">
		<form ng-submit="register()">
			<div class="list">
				<label class="item item-input">
					<span class="input-label">Encryption key</span>
					<input type="text" ng-model="loginData.key">
				</label>
				<label class="item">
					<button class="button button-block button-positive" type="submit">Lock</button>
				</label>
			</div>
		</form>
	</ion-content>
</ion-view>